* {
    box-sizing: border-box;
}
  
body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 200px 0 120px 0;
  background-image: url(./image/explore.svg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

.clear {
  clear: left;
}

.destination-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.heading h3 {
  font-weight: normal;
}

.destination {
  float: left;
  width: 25%;
}

.destination h4 {
  font-weight: normal;
  color: #5f5d60;
  margin-top: 0;
  margin-bottom: 0;
}

.destination-icon {
  position: relative;
}

.destination-icon img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
  height: 200px;
}

.destination-icon img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.testimoni {
  float: left;
  width: 15%;
  margin: 0 5%;
}

.testimoni-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #ffffff;
  text-align: center;
}

.testimoni h5 {
  font-weight: normal;
  color: #5f5d60;
  margin-top: 0;
  margin-bottom: 0;
}

.testimoni-icon {
  position: relative;
}

.testimoni-icon img {
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 0;
  width: 80px;
  height: 80px;
}



